<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jupiter Toys Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="Jupiter Toys Test Cases">
		<classes>
			<class name="com.jupiter.qa.testcases.FirstTestCase"></class>
			<class name="com.jupiter.qa.testcases.SecondTestCase"></class>
			<class name="com.jupiter.qa.testcases.ThirdTestCase"></class>
		</classes>
	</test>
</suite>